<?php
	if(!isset($_COOKIE['admin_id']))
		header("location: login.php?status=not_signed");
?>
<html>
<head>
<meta charset="utf-8">
	<title>Add New Company | Online Customer Care and Service Center System</title>
	<link href="css/style.css" rel="stylesheet">
	<script>
		function register_company() {
			var company_name = document.getElementById('company_name').value;
			var city = document.getElementById('city').value;
			var street_kebele = document.getElementById('street_kebele').value;
			var phone = document.getElementById('phone').value;
			var email = document.getElementById('email').value;
			
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (xhttp.readyState == 4 && xhttp.status == 200) {
					if(xhttp.responseText == "sucess"){
						//window.location = "login.php";
						document.getElementById('registration_form').reset();
						document.getElementById('register_sucess').innerHTML = "Company added sucessfully";
						document.getElementById('register_err').innerHTML = "";
					}
					else{
						document.getElementById('register_err').innerHTML = xhttp.responseText;
						document.getElementById('register_sucess').innerHTML = "";
					}
				}
			};
			xhttp.open("GET", "ajax/register_company.php?company_name="+company_name+"&city="+city+"&street_kebele="+street_kebele+"&phone="+phone+"&email="+email, true);
			xhttp.send();
			
			return false;
		}
		
	</script>
</head>
<body>
<div class="container">
	<?php
		include_once('header.php');
	?>
	<section id="content">
		<form action="" onsubmit="return register_company();" id="registration_form" enctype="multipart/form-data">
			<h1>Add Company</h1>
			<div>
				<input type="text" placeholder="Company name" required id="company_name" />
			</div>
			<div>
				<input type="text" placeholder="City" required id="city" />
			</div>
			<div>
				<input type="text" placeholder="Street/Kebele" required id="street_kebele" />
			</div>
			<div>
				<input type="text" placeholder="Phone" required id="phone" />
			</div>
			<div>
				<input type="email" placeholder="Email" required id="email" />
				<br>
				<span id="register_err" style="color: #f00;"></span>
				<span id="register_sucess" style="color: #009933;"></span>
			</div>
			<div>
				<input type="submit" value="Add" style="padding: 0px !important"/>
				<input type="reset" value="Clear" style="padding: 0px !important"/>
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->
</body>
</html>