{{define "company_dashboard.content"}}
    <div class="container ">
        <div class="cont">
        <div class="row">

            <div class="row ">
                <div class="col-md-4">
                    
                        <img src="images/add_service.png">
                        <br>
                        <h2>Add Service</h2>
                    </a>
                </div>
                <div  class="col-md-4">
                    <a href=""></a>
                        <img src="assets/images/change_logo.png" width="256px">
                        <br>
                        <h2>Change Logo</h2>
                    </a>
                </div>

                <div class="col-md-4">
                   <a href=""></a>
                        <img src="assets/images/sign_up.png">
                        <br>
                        <h2>Add Employee</h2>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                   <a href=""></a>
                        <img src="assets/images/delete_employee.png">
                        <br>
                        <h2>Delete Employee</h2>
                    </a>
                </div>

                <div class="col-md-4">
                   <a href=""></a>
                        <img src="assets/images/take_attendance.png">
                        <br>
                        <h2>Take Attendance</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href=""></a>
                        <img src="assets/images/calculate_salary.png" width="256px">
                        <br>
                        <h2>Calculate Salary</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div><!-- container -->
{{end}}