{{define "index.content"}}
<div class="container">
	<div class="row">
		<div class="col-md-4 ">
				<a href="login.html">
						<img src="./assets/images/sign_in.png">
						<br>
						<h2>Login</h2>
						</a>
		</div>
		<div class="col-md-4">z
			<a href="sign up.html">
				<img src="./assets/images/sign_up.png">
				<br>
				<h2>Sign up</h2>
				</a></div>
		<div class="col-md-4"><a href="search.html">
				<img src="./assets/images/search.png">
				<br>
				<h2>Browse Companies</h2>
				</a></div>
			</div>
</div><!-- container -->
{{end}}